@model MyWebsite.ViewModels.NewThreadViewModel


@{
    ViewBag.Title = "Hot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-xs-12">


            @foreach (var thread in Model.ThreadList.OrderByDescending(c => c.Rating))
            {
                <p>
                    <a href=@Url.Action("ThreadRating", "Thread", new {arrow = "up", thread.Id, location = "Hot"})>
                        <i style='font-size: 24px' class='fa'>&uarr;</i>
                    </a>
                    @thread.Rating
                    <a href=@Url.Action("ThreadRating", "Thread", new {arrow = "down", thread.Id, location = "Hot"})>
                        <i style='font-size: 24px' class='fa'>&darr;</i>
                    </a>
                    - @Html.ActionLink(thread.Name, "ViewThread", new {controller = "Thread", action = "ViewThread", id = thread.Id})
                    <p>
                        <div class="thread-creation">
                            @{
                                var date = DateTime.Now.Subtract(thread.Created);
                                var days = " days, ";
                                var hours = " hours and";
                                var minutes = "minutes";
                            }
                            Submitted:
                            @if (date.Days > 0)
                            {
                                @date.Days
                                ;
                                @days
                                ;
                            }
                            @if (date.Hours > 0)
                            {
                                @date.Hours
                                ;
                                @hours
                                ;
                            } @date.Minutes minutes ago by <a href=@Url.Action("ViewUserPage", "User", new {creatorId = thread.Username.Name})>@thread.Username.Name</a>.
                        </div>
                    </p>
                </p>
            }
        </div>
    </div>

</div>