@model MyWebsite.ViewModels.ThreadViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Welcome to @Model.PlaceHolder's Activity!</h2><br/><br/>
<h2>
    <u>Threads</u>
</h2>

@{var threadList = Model.ThreadList;}

@if (threadList.Any(c => c.Creator == Model.UserObject.Name))
{
    foreach (var thread in threadList)
    {
        <p>@Html.ActionLink(thread.Title, "ViewThread", new {controller = "Thread", action = "ViewThread", id = thread.Id})</p>
        <p>By: @Model.UserObject.Name</p>
        <br/>
    }
}
else
{
    <p>This user hasn't created any threads.</p>
}

<br/>
<hr/>

<h2>
    <u>Comments</u>
</h2>
@if (Model.RepliesList.Any(c => c.Creator == Model.UserObject.Name))
{
    foreach (var reply in Model.RepliesList)
    {
        var thread2 = Model.ThreadsActualList.Where(c => c.Id == reply.ThreadId).First(c => c.Id == reply.ThreadId);

        <p>@Html.ActionLink(thread2.Title, "ViewThread", new {controller = "Thread", action = "ViewThread", id = thread2.Id})</p>
        <p>
            <h5>@reply.Name</h5>
        </p>
        <br/>
    }
}
else
{
    <p>This user hasn't commented on any threads.</p>
}*@




@*<h2>Welcome to @Model.PlaceHolder's Activity!</h2><br /><br />
<h2>
    <u>Threads</u>
</h2>

@{var threadList = Model.ThreadList;}

@if (threadList.Any(c => c.Creator == Model.UserObject.Name))
{
    foreach (var thread in threadList)
    {
        <p>@Html.ActionLink(thread.Title, "ViewThread", new { controller = "Thread", action = "ViewThread", id = thread.Id })</p>
        <p>By: @Model.UserObject.Name</p>
        <br />
    }
}
else
{
    <p>This user hasn't created any threads.</p>
}

<br />
<hr />

<h2>
    <u>Comments</u>
</h2>
@if (Model.RepliesList.Any(c => c.Creator == Model.UserObject.Name))
{
    foreach (var reply in Model.RepliesList)
    {
        var thread2 = Model.ThreadsActualList.Where(c => c.Id == reply.ThreadId).First(c => c.Id == reply.ThreadId);

        <p>@Html.ActionLink(thread2.Title, "ViewThread", new { controller = "Thread", action = "ViewThread", id = thread2.Id })</p>
        <p>
            <h5>@reply.Name</h5>
        </p>
        <br />
    }
}
else
{
    <p>This user hasn't commented on any threads.</p>
}*@